---
layout: default
---
<header class="band">
  <div class="wrap">
    <div class="mast">
      <a class="name" href="{{ site.baseurl }}/">Ashish Srivastava</a>
      <nav>
        <a href="{{ site.baseurl }}/#case-studies">Case studies</a>
        <a href="https://linkedin.com/in/ashishsrivastava">LinkedIn</a>
        <a href="mailto:{{ site.email }}">Email</a>
      </nav>
    </div>
    <h1>{{ page.headline }}</h1>
    <p class="standfirst">{{ page.standfirst }}</p>
  </div>
</header>
<main>{{ content }}</main>
